* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Anton', sans-serif;
    background-image: url("../images/youtube_background.jpg");
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background-color:#FF0000;
    text-align: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid black;
    color: #FFF;
}
.container .title h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
    border: 5px solid #CD5C5C;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.container input, select {
    display: inline-block;
    margin-top: 20px;
}

.container input[type="url"] {
    width: 80%;
    height: 40px;
    outline: none;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container input[type="url"]::placeholder {
    text-align: center;
}
.container select {
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
    color: #FFF;
    border: 1px solid black;
    background-color: #F08080;
}

.container input[type="submit"] {
    border: none;
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
    color: #FFF;
    border: 1px solid black;
    background-color: #F08080;
}

.container input[type="submit"]:hover {
    opacity: 0.5;
}

